MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/?appName=<appName>
YOUTUBE_API_KEY=<tu_youtube_api_key>
TELEGRAM_API_ID=<tu_telegram_api_id>
TELEGRAM_API_HASH=<tu_telegram_api_hash>
