**/__pycache__/
.venv
.env
**.pyc
test_data/
.DS_Store
*.jpeg
!assets/**
*.mp3
*.mp4
*.txt
*.xlsx
exports_golden/
test_folder/
**toast.py
db_connection.py
*.db
data/
*.pyc
*.session
*.session-journal
README_agentes.md
*.json
!json_holdout_prueba.json
!**/package.json


